<div class="card" *ngIf="user$ | async as user">
  <img [src]="user.avatar_url" class="card-img-top" alt="{{user.name}} photo">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">{{user.bio}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" title="Location">
      <i class="bi-geo mr-2"></i>{{user.location}}
    </li>
    <li class="list-group-item" title="Followers">
      <i class="bi-people mr-2"></i>{{user.followers}}
    </li>
  </ul>
  <div class="card-body">
    <a href="https://www.twitter.com/{{user.twitter_username}}" class="card-link">Twitter</a>
    <a [href]="user.blog" class="card-link">Personal blog</a>
  </div>
</div>
