/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.ng-wig, .nw-editor-container, .nw-editor  {
  display: flex !important;
  flex-direction: column;
  height: 100% !important;
  overflow: hidden;
}
