<mat-form-field>
  <input matInput placeholder="Enter city" #cityCtrl (keydown.enter)="search(cityCtrl.value)">
  <mat-icon matSuffix (click)="search(cityCtrl.value)">search</mat-icon>
</mat-form-field>
<mat-card *ngIf="weather">
  <mat-card-header>
    <mat-card-title>{{weather.name}}, {{weather.sys.country}}</mat-card-title>
    <mat-card-subtitle>{{weather.weather[0].main}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" [alt]="weather.weather[0].main">
  <mat-card-content>
    <h1>{{weather.main.temp | number:'1.0-0'}} &#8451;</h1>
    <p>Pressure: {{weather.main.pressure}} hPa</p>
    <p>Humidity: {{weather.main.humidity}} %</p>
    <p>Wind: {{weather.wind.speed}} m/s</p>
  </mat-card-content>
</mat-card>
